/* Body element */
body {
  background-color: #ffdede;
  color: rgba(0, 0, 0, 0.8);
}
.light-mode body {
  background-color: #f5ebc9;
  color: #766822;
}
.dark-mode body {
  background-color: #000000;
  color: #b2a757;
}

.dark-mode .contenthead {
  color: #fff9ce;
}
.gray-mode .contenthead {
  color: #480542;
}
.pagetitle .gray-mode body {
  background-color: #d3ddab;
  color: #4c3212;
}
.light-mode .contenthead {
  color: rgb(183, 160, 8);
}
/* Active link */
.router-link-active {
  border-bottom: 2px solid gray;
}
.dark-mode .router-link-active {
  border-bottom: 2px solid rgb(228, 88, 46);
}
.gray-mode .router-link-active {
  border-bottom: 2px solid rgb(231, 67, 46);
}
/* input */
textarea,
input,
select {
  padding: 0.5em;
  display: block;
  max-width: auto;
  margin-top: 0.2em;
  padding: 0.5em;
  border: 1px solid rgba(111, 109, 109, 0.2);
  border-radius: 4px;
  background: none;
}
.dark-mode textarea,
.dark-mode input,
.gray-mode select {
  border: 1px solid rgba(199, 197, 197, 0.8);
}
.gray-mode textarea,
.gray-mode input,
.gray-mode select {
  border: 1px solid rgba(41, 41, 45, 0.8);
}
