/* Body element */

.light-mode body {
  background-color: #e5e5f7;
  opacity: 0.8;
  background-image: radial-gradient(#000000 0.5px, #e5e5f7 0.5px);
  background-size: 10px 10px;
}
.dark-mode body {
  background-color: #121240;
  opacity: 0.8;
  background-image: radial-gradient(#6e82ba 0.5px, #0a0a3e 0.5px);
  background-size: 10px 10px;
}
.gray-mode body {
  background-color: #ffffff;
  opacity: 0.8;
  background-image: radial-gradient(#b8b8b8 0.5px, #3b3b3b 0.5px);
  background-size: 10px 10px;
}
.light-mode body {
  background-color: #f5ebc9;
  color: #111a5f;
}
.dark-mode body {
  background-color: #ffffff;
  color: #ffffff;
}

.dark-mode .contenthead {
  color: #ffffff;
}
.gray-mode .contenthead {
  color: #90fff0;
}
.gray-mode .pagetitle {
  color: #35ffe4;
}
.gray-mode .contentrender {
  color: #ffffff;
}
.light-mode .contenthead {
  color: rgb(0, 13, 96);
}
/* Active link */
.router-link-active {
  border-bottom: 2px solid gray;
}
.dark-mode .router-link-active {
  border-bottom: 2px solid rgb(228, 88, 46);
}
.gray-mode .router-link-active {
  border-bottom: 2px solid rgb(231, 67, 46);
}
/* input */
textarea,
input,
select {
  padding: 0.5em;
  display: block;
  max-width: auto;
  margin-top: 0.2em;
  padding: 0.5em;
  border: 1px solid rgba(111, 109, 109, 0.2);
  border-radius: 4px;
  background: none;
}
.dark-mode textarea,
.dark-mode input,
.gray-mode select {
  border: 1px solid rgba(199, 197, 197, 0.8);
}
.gray-mode textarea,
.gray-mode input,
.gray-mode select {
  border: 1px solid rgba(41, 41, 45, 0.8);
}
