@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap");
/* https://fonts.google.com/specimen/Epilogue*/

#sinds-mijn-6-jaar-ben-ik-beginnen-tekenen-ik-ging-hiervoor-naar-slac-school-voor-tekenen-en-schilderen-in-leuven-mijn-vader-dacht-dat-tekenen-mijn-redding-zou-zijn-om-te-communiceren-ik-hoor-slecht-en-heb-daardoor-minder-feeling-met-sport-en-muziek-tekenen-geeft-me-een-kans-om-mezelf-te-uiten-tekenen-en-schilderen-zijn-een-grote-hobby-van-mij-het-geeft-me-rust-het-heeft-niets-te-maken-met-technologie-maar-met-het-talent-van-je-handen-ogen-en-hersenen-je-kan-tekenen-zonder-na-te-denken-en-dat-maakt-het-voor-mij-amusant-ik-ben-trots-op-mijn-tekeningen-tekenen-zal-ik-nooit-opgeven-omdat-ik-er-zo-van-geniet {
  color: rgb(183, 160, 8);
}
.text-4xl.font-bold {
  font-family: "Epilogue", sans-serif;
  font-optical-sizing: auto;
  font-weight: 350;
  font-style: normal;
  letter-spacing: 10px;
  font-size: 69px;
}

.Epilogue {
  font-family: "Epilogue", sans-serif;
  font-optical-sizing: auto;
  font-weight: 350;
  font-style: normal;
  letter-spacing: 8px;
  font-size: 40px;
  margin-bottom: 1rem;
}

.text-4xl.font-bold {
  margin-bottom: 4rem;
}

.montserrat-bold {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  text-transform: uppercase;
}
.montserrat-semibold {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  text-transform: uppercase;
}

.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.appTitle {
  font-size: 1.2em;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  line-height: normal;
}

.pageTitle {
  font-size: 5em;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  line-height: normal;
}
